<!-- <div class="container"> -->
  <div class="jumbotron homepage__jumbotron">
    <h1 class="display-4 text-center home-heading">Discover, Travel, Shred</h1>
    <p class="lead">Travel the world through the eyes of me, Nicholas Martin; traveler, snowboarder and all around vegabond mauarder! </p>
    <p class="lead-two">Enjoy articles detailing places all over the world including, Matchu Pitchu, Europe and all the best places in the world to snowboard!</p>
    <a class="btn btn-outline-info btn-lg view-articles" href="/articles" role="button">View Articles</a>
  </div>
<!-- </div>/ -->


<!-- 
<%= link_to 'Articles Listing', articles_path%> ||
<%= link_to 'About', about_path%> -->