<!-- <div class="container"> -->
  <div class="jumbotron homepage__jumbotron">
    <h1 class="display-4 text-center home-heading">Discover, Travel, Shred</h1>
    <p class="lead">Travel the world through the eyes of me, Nicholas Martin; traveler, snowboarder and all around vagabond marauder. I am leaf in the wind, watch how I soar!</p>
    <p class="lead-two">Enjoy articles detailing places all over the world as I discover the 8 Wonders of the World on my attempt to visit every country and continent in the world.</p>
    <div class="homepage__stats list-group mb-5">
      <li class="statItem"># of US States Visited: 42</li>
      <li class="statItem"># of Wonders Visited: 2</li>
      <li class="statItem"># of Contries Visited: 28</li>
      <li class="statItem"># of Continents Visited: 4</li>
    </div>
    <a class="btn btn-outline-info btn-lg view-articles" href="/articles" role="button">View Articles</a>
  </div>
<!-- </div>/ -->


<!-- 
<%= link_to 'Articles Listing', articles_path%> ||
<%= link_to 'About', about_path%> -->