<div id="page-content">
  <div class="container">
    <div class="jumbotron homepage__jumbotron">
      <h1 class="display-4 text-center">Welcome to my Blog</h1>
      <p class="lead">Travel the world through the eyes of me, Nicholas Martin; traveler, snowboarder and all around vegabond mauarder! </p>
      <hr class="my-4">
      <p>Enjoy articles detailing places all over the world including, Matchu Pitch, Europe and all the best placesin the world to snowboard!</p>
      <a class="btn btn-warning btn-lg" href="/articles" role="button">View Articles</a>
    </div>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; Vegabond Nicholas</small>
  </div>
</footer>

<!-- 
<%= link_to 'Articles Listing', articles_path%> ||
<%= link_to 'About', about_path%> -->