@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: black !important;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 6rem;
}

.navbar-brand {  
  font-size: 2.2rem !important;
  @media screen and (max-width: 420px){
    font-size: 1.5rem !important;
  }
}

.nav-link {
  color: white !important;
  margin-right: 1rem;
}

#logo {
  text-transform: uppercase;
  float: left;
  letter-spacing: -2px;
  font-weight: bold;
}

.homepage__jumbotron {
  background: linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(47, 1, 56, 0.9)
    ), asset-url('NickCoverPhoto.jpg');
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba($color: #000000, $alpha: .5);
}

#sticky-footer {
  flex-shrink: none;
  background-color: black !important;
}

html, body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

.home-heading {
  font-weight: bold;
  color: white;

}

.lead {
  color: white;
  text-align: center;
  font-size: 1.8rem !important;
  margin-top: 1rem;
  font-weight: bold;
  // background-color: rgba($color: #000000, $alpha: .5);
  padding: 2rem;
  border-radius: 8px;
}
.lead-two {
  color: white;
  font-size: 1.3rem !important;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 2rem;
  // background-color: rgba($color: #000000, $alpha: .5);
  padding: 2rem;
  border-radius: 8px;
  letter-spacing: 3px;
}

.view-articles {
  align-self: center !important;
  font-weight: bold !important;
}

.show-page-container {
  margin-bottom: 3rem;
}
.all-articles-container {
  margin-bottom: 3rem;
}

.dropdown-menu {
  background-color: #000000 !important;
}

.dropdown-item {
  color: white !important;
  &:hover {
    background-color: #58055c !important;
  }
}